//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     title Document
//-   body
//-   section.blog 
//-     .container
//-       h6.contact__direction.blog__direction Home Page 
//-         span.contact__directionLine.author__directionLine  
//-         | Category
//-       .blog__container    
//-         .blog__info 
//-           h2.blog__mainTitle Bank Yourself a Share of €20K and 20,000 Spins
//-           .blog__post 
//-             img(src="./image/blog_img.png", alt="photo_man")
//-             p.blog__postText Ivan Gusev / 20 July 2020
//-           img(src="./image/blog_main.png", alt="casinoIMG").blog__mainImg
//-           p.blog__information 
//-             a(href="#").blog__infromation SlotWolf Casino 
//-             | have just launched a brand new promotion where you can get your hands on some cold hard cash. In fact, the 
//-             a(href="#").blog__infromation online casino 
//-             | has decided to pull out all the stops and they’ll be handing out a whopping 20,000 € and there is even 20,000 in extra spins too.
//-           p.blog__information However, new generations have started changing the face of gambling, slots in particular. Moving away from luck as a deciding factor of their wins, these generations have started asking for games that put their skills, reasoning, and capacities to test while still being fun — and that's how skill-based slots arouse.
//-           h2.blog__title Bag Yourself a Share
//-           p.blog__information 
//-             a(href="#").blog__infromation SlotWolf Casino 
//-             | have just launched a brand new promotion where you can get your hands on some cold hard cash. In fact, the 
//-             a(href="#").blog__infromation online casino 
//-             | has decided to pull out all the stops and they’ll be handing out a whopping  
//-             span.blog__information--span 20,000 € 
//-             | and there is even 
//-             span.blog__information--span 20,000 in extra spins too. 
//-           .blog__quote 
//-             p.blog__quoteDescription Earn a lottery ticket at SlotWolf Casino for a guaranteed chance to win a share of their double prize pots.
//-             p.blog__name.blog__quoteDescription 〜 Oliver Moore
//-             img(src="./image/quote.svg", alt="quote").blog__quoteImg 
//-           h2.blog__title How Slot Machine Skill Games Work?
//-           p.blog__description Say you are playing a slot with a racing theme this is how you would go about it:
//-           ol 
//-             li.blog__description When the bonus room is triggered, you choose the skill-based bonus
//-             li.blog__description You race against other cars
//-             li.blog__description The size of your payout gets determined by your finish
//-           p.blog__casinoName CASINO NAME
//-           .blog__casinos 
//-             .blog__casino
//-               .blog__casinoImg             
//-                 img(src="./image/bitstarz.png", alt="BitStarz")
//-               .blog__casinoDescription 
//-                 p.blog__casinoIdentify Bit Starz Casino 
//-                 .blog__casinoInfo 
//-                   img(src="./image/gold.svg", alt="gold").blog__casinoImg--mobile 
//-                   img(src="./image/ukraine.svg", alt="Ukraine").blog__casinoCountry
//-                   img(src="./image/Bitcoin.svg", alt="Bitcoin").blog__casinoImg--mobile
//-                   img(src="./image/star.svg", alt="star").blog__star.blog__star--remove
//-                   p.blog__casinoMark.blog__casinoMark--remove 9.25 / 10
//-               .blog__bonus
//-                 p.blog__bonusMoney.blog__bonusMoney--mobile 1,000 € 
//-                 p.blog__bonusMoney.blog__bonusMoney--remove $ 4000 + 200 Gratisspinn
//-                 p.blog__bonusSpin Med 200 gratisspinn
//-               .blog__btn 
//-                 button.blog__btnBtn Leke nå
//-             .blog__casino.blog__casino--margin
//-               .blog__casinoImg            
//-                 img(src="./image/cat.png", alt="BitStarz")
//-               .blog__casinoDescription 
//-                 p.blog__casinoIdentify Bao Casino
//-                 .blog__casinoInfo 
//-                   img(src="./image/silver.svg", alt="silver").blog__casinoImg--mobile
//-                   img(src="./image/ukraine.svg", alt="Ukraine").blog__casinoCountry
//-                   img(src="./image/Bitcoin.svg", alt="Bitcoin").blog__casinoImg--mobile
//-                   img(src="./image/star.svg", alt="star").blog__star.blog__star--remove
//-                   p.blog__casinoMark.blog__casinoMark--remove 9.25 / 10
//-               .blog__bonus 
//-                 p.blog__bonusMoney.blog__bonusMoney--mobile 1,000 € 
//-                 p.blog__bonusMoney.blog__bonusMoney--remove $ 4000 + 200 Gratisspinn
//-                 p.blog__bonusSpin Med 200 gratisspinn
//-               .blog__btn 
//-                 button.blog__btnBtn Leke nå
//-             p.blog__information 
//-               a(href="#").blog__infromation SlotWolf Casino 
//-               | have just launched a brand new promotion where you can get your hands on some cold hard cash. In fact, the 
//-               a(href="#").blog__infromation online casino 
//-               | has decided to pull out all the stops and they’ll be handing out a whopping  
//-               span.blog__information--span 20,000 € 
//-               | and there is even 
//-               span.blog__information--span 20,000 in extra spins too. 
//-             p.blog__information However, new generations have started changing the face of gambling, slots in particular. Moving away from luck as a deciding factor of their wins, these generations have started asking for games that put their skills, reasoning, and capacities to test while still being fun — and that's how skill-based slots arouse.
//-             ul.blog__ul--remove 
//-               li A hypothetically unlockable bonus session
//-               li A tic-tac-toe-style puzzle
//-               li A "follow me" coloured dot-matching second phase of gameplay
//-         .blog__aside.blog__aside--remove 
//-           h2.blog__norgeTitle Topp 5 kasinoer for Norge
//-           .blog__casinosNorge 
//-             .blog__casinoNorge
//-               img(src="./image/parimatch.png", alt="parimatch").blog__norgeImg
//-               .blog__norgeDescription 
//-                 p.blog__norgeName Parimatch 
//-                 p.blog__norgeBonus 200 Gratisspinn 
//-               .blog__norgeBtn 
//-                 button.blog__norgeBtnn.blog__btnBtn Leke nå
//-             .blog__casinoNorge
//-               img(src="./image/binomo.png", alt="betsson").blog__norgeImg
//-               .blog__norgeDescription 
//-                 p.blog__norgeName Betsson Casino 
//-                 p.blog__norgeBonus $400 Deposit Bonus
//-               .blog__norgeBtn 
//-                 button.blog__norgeBtnn.blog__btnBtn Leke nå
//-             .blog__casinoNorge
//-               img(src="./image/bitstarz.png", alt="bitstarz").blog__norgeImg
//-               .blog__norgeDescription 
//-                 p.blog__norgeName Bit Starz Casino 
//-                 p.blog__norgeBonus 150 Gratisspinn
//-               .blog__norgeBtn 
//-                 button.blog__norgeBtnn.blog__btnBtn Leke nå
//-             .blog__casinoNorge
//-               img(src="./image/cat.png", alt="baoCasino").blog__norgeImg
//-               .blog__norgeDescription 
//-                 p.blog__norgeName Bao Casino 
//-                 p.blog__norgeBonus $200 Welcome Bonus
//-               .blog__norgeBtn 
//-                 button.blog__norgeBtnn.blog__btnBtn Leke nå
//-             .blog__casinoNorge
//-               img(src="./image/betsafe.png", alt="betsafe").blog__norgeImg
//-               .blog__norgeDescription 
//-                 p.blog__norgeName Betsafe Casino 
//-                 p.blog__norgeBonus 100 Gratisspinn
//-               .blog__norgeBtn 
//-                 button.blog__norgeBtnn.blog__btnBtn Leke nå
//-             button.blog__norgeMore Se mer
//-           h2.blog__norgeTitle News
//-           .blog__norgeGames
//-             .blog__norgeGame 
//-               img(src="./image/game1.png", alt="game").blog__gameImg
//-               .blog__norgeGameDescription 
//-                 p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-                 p.blog__gameDate 20 July 2020
//-             .blog__norgeGame 
//-               img(src="./image/game2.png", alt="game").blog__gameImg
//-               .blog__norgeGameDescription 
//-                 p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-                 p.blog__gameDate 20 July 2020
//-             .blog__norgeGame 
//-               img(src="./image/game3.png", alt="game").blog__gameImg
//-               .blog__norgeGameDescription 
//-                 p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-                 p.blog__gameDate 20 July 2020
//-             button.blog__norgeMore Se mer
//-       .blog__games 
//-         ul.blog__ul
//-           li.blog__game.blog__game--active Pokie
//-           li.blog__game Blackjack
//-           li.blog__game Roulette
//-           li.blog__game Poker 
//-           li.blog__game Slots
//-       .blog__gameDescription 
//-         p Say you are playing a slot with a racing theme this is how you would go about it:
//-       .blog__article 
//-         .blog__previewArticle 
//-           p.blog__locationArticle Preview Article
//-           p.blog__nameArticle Bingo Games 20 Bonus Spins
//-         .blog__nextArticle
//-           p.blog__locationArticle Next Article
//-           p.blog__nameArticle Mansion Games Casino
//-       .blog__aside.blog__aside--mobile
//-         h2.blog__norgeTitle Topp 5 kasinoer for Norge
//-         .blog__casinosNorge 
//-           .blog__casinoNorge
//-             img(src="./image/parimatch.png", alt="parimatch").blog__norgeImg
//-             .blog__norgeDescription 
//-               p.blog__norgeName Parimatch 
//-               p.blog__norgeBonus 200 Gratisspinn 
//-             .blog__norgeBtn 
//-               button.blog__norgeBtnn.blog__btnBtn Leke nå
//-           .blog__casinoNorge
//-             img(src="./image/binomo.png", alt="betsson").blog__norgeImg
//-             .blog__norgeDescription 
//-               p.blog__norgeName Betsson Casino 
//-               p.blog__norgeBonus $400 Deposit Bonus
//-             .blog__norgeBtn 
//-               button.blog__norgeBtnn.blog__btnBtn Leke nå
//-           .blog__casinoNorge
//-             img(src="./image/bitstarz.png", alt="bitstarz").blog__norgeImg
//-             .blog__norgeDescription 
//-               p.blog__norgeName Bit Starz Casino 
//-               p.blog__norgeBonus 150 Gratisspinn
//-             .blog__norgeBtn 
//-               button.blog__norgeBtnn.blog__btnBtn Leke nå
//-           .blog__casinoNorge
//-             img(src="./image/cat.png", alt="baoCasino").blog__norgeImg
//-             .blog__norgeDescription 
//-               p.blog__norgeName Bao Casino 
//-               p.blog__norgeBonus $200 Welcome Bonus
//-             .blog__norgeBtn 
//-               button.blog__norgeBtnn.blog__btnBtn Leke nå
//-           .blog__casinoNorge
//-             img(src="./image/betsafe.png", alt="betsafe").blog__norgeImg
//-             .blog__norgeDescription 
//-               p.blog__norgeName Betsafe Casino 
//-               p.blog__norgeBonus 100 Gratisspinn
//-             .blog__norgeBtn 
//-               button.blog__norgeBtnn.blog__btnBtn Leke nå
//-           button.blog__norgeMore.blog__norgeMore--remove Se mer
//-         h2.blog__norgeTitle News
//-         .blog__norgeGames
//-           .blog__norgeGame 
//-             img(src="./image/game1.png", alt="game").blog__gameImg
//-             .blog__norgeGameDescription 
//-               p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-               p.blog__gameDate 20 July 2020
//-           .blog__norgeGame 
//-             img(src="./image/game2.png", alt="game").blog__gameImg
//-             .blog__norgeGameDescription 
//-               p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-               p.blog__gameDate 20 July 2020
//-           .blog__norgeGame 
//-             img(src="./image/game3.png", alt="game").blog__gameImg
//-             .blog__norgeGameDescription 
//-               p.blog__gameArticle Rough Guide to History of Gambling: From Ancient
//-               p.blog__gameDate 20 July 2020
//-           button.blog__norgeMore Se mer
      